@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,700;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Red Hat Display',
    sans-serif;
    min-height: 100vh;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 98%);
    position: relative;
}
.container {
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}
.text-content {
    padding: 7%;
    text-align: center;
}
.title {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 20px;
}
.text-content p.subtitle {
    color:rgb(44, 44, 44);
    margin-bottom: 25px;
}
.plan-box {
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
}
.plan-box-left {
    display: flex;
    align-items: center;
    text-align: left;
}
.plan-box-left div {
    margin-left: 20px;
}
.plan-box-left div h5 {
    font-weight: 900;
    font-size: 15px;
    color: rgb(44, 44, 44);
}
.plan-box a {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
.plan-box a:hover {
    text-decoration: none;
    color: hsl(245, 75%, 52%);
}
a.proceed-btn {
    display: block;
    text-decoration: none;
    background-color: hsl(245, 75%, 52%);
    color: white;
    padding: 20px 0;
    border-radius: 12px;
    margin: 30px 0;
}
a.proceed-btn:hover {
    background-color: grey;
}
a.cancel-btn {
    display: block;
    text-decoration: none;
    background-color: hsl(244, 100%, 94%);
    color:grey;
    padding: 20px 0;
    border-radius: 12px;
    margin: 30px 0;
}